<div class="footer">
  <section>
    <img src="assets/imagens/logo.png" alt="Logo do footer">
    <p>
      Horário de atendimento: 08:00h - 20h (Segunda  a Sábado)</p>
    <p>Desenvolvido por Renato Napoli Guimarãea. Projeto sem fins comerciais.</p>


  </section>

  <section>
    <p>Acesse nossas redes:</p>
    <div class="links">


    <a href="">
      <img src="assets/icones/whatsapp.png" alt="ícone do whatsapp">
    </a>
    <a href="">
      <img src="assets/icones/instagram.png" alt="ícone do instagram">
    </a>
    <a href="">
      <img src="assets/icones/twitter.png" alt="ícone do twiter">
    </a>
  </div>
  </section>
</div>
